<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>meetMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8EABD2871DB15161003CFF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EABD29E1DB15162003CFF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EABD2A91DB15162003CFF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
